
.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px; /* Adjust padding to control the button's size */
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Prevent the button from stretching */
    line-height: 1; /* Ensure the text height doesn't add extra space */
    height: auto; /* Allow the button to size dynamically based on content */
    width: 200px;;
}

button:hover {
    background-color: #555;
}