h1 {
    margin-top: 80px;
    text-align: center;
}

.project-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 30px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px; /* Optional: limit grid width for better centering */
    margin-left: auto;
    margin-right: auto;
}

.project-buttons button {
    width: 275px;
    height: 275px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
}

.project-buttons button h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.project-buttons button p {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}